body {
	display: grid;
	grid-columns: 1fr;
	grid-rows: 50px 4fr 1fr 3fr;
}

._menu {
	grid-column-span: 1;
	grid-row-span: 1;
	
	grid-row: 1;
	
}

._main {
	grid-column-span: 1;
	grid-row-span: 1;
	
	grid-row: 2;
	
}

._control {
	grid-column-span: 1;
	grid-row-span: 1;
	
	grid-row: 3;
}

._queue {
	grid-column-span: 1;
	grid-row-span: 1;
	
	grid-row: 4;
}

.bordered {
	border: 1px solid black;
}
/*
<div class="_menu bordered">
			
</div>
<div class="_main bordered">
	
</div>
<div class="_view bordered">
	
</div>
<div class="_option bordered">
	
</div>
<div class="_console bordered">
	
</div>
<div class="_control bordered">
	
</div>
<div class="_tool bordered">
	
</div>
<div class="_queue bordered">
	
</div>
*/