/* Layout */

._app-frame {
	position: fixed;
	width: 100%;
}

._symbol-strip {
	height: 30px;
	top: 0px;
}

._main-window {
	top: 30px;
	bottom: 200px;
}

._player-controls {
	bottom: 150px;
	height: 50px;
}

._player-queue {
	bottom: 0px;
	height: 150px;
	
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;
}

._player-queue::-webkit-scrollbar {
    height: 10px;
	background-color: rgba(40, 40, 40, 1);
}

._player-queue::-webkit-scrollbar-track {
    height: 10px;
    background-color: rgba(40, 40, 40, 1);
}

._player-queue::-webkit-scrollbar-thumb {
	height: 10px;
	background-color: rgba(180, 203, 239, 1);
    
}

/*** Elements ***/

.glyphicon-mini {
	font-size: 18px;
	padding: 2px;
	width: 22px;
	height: 22px;
}

.glyphicon-small {
	font-size: 26px;
	padding: 2px;
	width: 30px;
	height: 30px;
}

.glyphicon-medium {
	
}

.glyphicon-large {
	font-size: 46px;
	padding: 2px;
	width: 50px;
	height: 50px;	
}

.queue-item {
	height: 130px;
	width: 110px;
	margin: 5px;
	display: inline-block;
	position: relative;
	vertical-align:text-top;
	
}

.queue-item .inner {
	width: 100%;
	padding: 5px;
}

.queue-item .actions {
	height: 100%;
	position: absolute;
	border: 1px solid black;
}

.queue-item .upper {
	height: 100px;
}

.queue-item .lower {
	height: 30px;	
}

.queue-item .action {
	width: 30px;
	height: 30px;
	
	margin: 0;
	padding: 0;
	border: 1px solid black;
	position: relative;
}

.queue-item .action-tl {
	top: 0;
	left: 0;
}

.queue-item .action-tr {
	top: 0;
	right: 0;
}

.queue-item .action-bl {
	left: 0;
	bottom: 0;
}

.queue-item .action-br {
	right: 0;
	bottom: 0;
}


/*** Style ***/

/* Background Colors */
.c-bg-0 {
	background-color: rgba(40, 40, 40, 1);
}

.c-bg-1 {
	background-color: rgba(93, 133, 197, 1);
}

.c-bg-2 {
	background-color: rgba(180, 203, 239, 1);
}

.c-bg-3 {
	background-color: rgba(132, 166, 220, 1);
}

.c-bg-4 {
	background-color: rgba(62, 104, 171, 1);
}

.c-bg-5 {
	background-color: rgba(36, 82, 154, 1);
}

/* Foreground Colors */
.c-fg-0 {
	color: rgba(40, 40, 40, 1);
}

.c-fg-1 {
	color: rgba(93, 133, 197, 1);
}

.c-fg-2 {
	color: rgba(180, 203, 239, 1);
}

.c-fg-3 {
	color: rgba(132, 166, 220, 1);
}

.c-fg-4 {
	color: rgba(62, 104, 171, 1);
}

.c-fg-5 {
	color: rgba(36, 82, 154, 1);
}
















/* debug helper */
.bordered {
	border: 1px solid black;
}






